<!doctype html>
<html>
<head>
    <style>
    h2 {text-align: left;}

    </style>
	<title>stats</title>
    <body>
        <h2>Stats</h2>
        <table width="100%" border="0">
    <tbody>

        <tr>
        <th scope="row">Symbol</th>
        <td>{{stats['1. symbol']}}</td>
        </tr>
        <tr>
        <th scope="row">Name</th>
        <td>{{stats['2. name']}}</td>
        </tr>
        <tr>
        <th scope="row">Type</th>
        <td>{{stats['3. type']}}</td>
        </tr>
        <tr>
            <th scope="row">Region</th>
            <td>{{stats['4. region']}}</td>
        </tr>
        <tr>
            <th scope="row">Market Open</th>
            <td>{{stats['5. marketOpen']}}</td>
        </tr>
        <tr>
            <th scope="row">Market Close</th>
            <td>{{stats['6. marketClose']}}</td>
        </tr>
                <tr>
            <th scope="row">Timezone</th>
            <td>{{stats['7. timezone']}}</td>
        </tr>
        <tr>
            <th scope="row">Currency</th>
            <td>{{stats['8. currency']}}</td>
        </tr>
        <tr>
            <th scope="row">Matchscore</th>
            <td>{{stats['9. matchScore']}}</td>
        </tr>
      

    </tbody>
    </table>
    </body>
</head>
</html>